.detalle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-radius: 8px;
    margin: 0 auto;
    background-color: #94B0B7;
    
}
.imgT{
    width: 250px;
    height: 200px;
    border-radius: 8px;
    margin: 20px;
    
    
}

