.form{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 200px;
    border-radius: 8px;
    margin: 0 auto;
    background-color: #94B0B7;
}
.h2{
    text-align: center;
}

.input{
    display: block;
    justify-content: center;
    background-color: #c2c8c5;
    color: #316275;
    text-align: left;
    border: none;
    width: 400px;
    height: 30px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 40px;
}

.buttonSend{
    background-color: #DDDDDA;
    padding: 10px;
    text-align: center;
    border: none;
    width: 50%;
    cursor: pointer;
    color: #316275;
}



